<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <div class="card-header">
          Appeetizers
        </div>
        <div class="card-body">
          <img src="/assets/img/shop/appetizer.jpg" alt="" (click)='shopCategory()'>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <div class="card-header">
          Beverages
        </div>
        <div class="card-body">
          <img src="/assets/img/shop/beverages.jpg" alt="">
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <div class="card-header">
          Cheese
        </div>
        <div class="card-body">
          <img src="/assets/img/shop/cheese.jpg" alt="">
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <div class="card-header">
          Dairy
        </div>
        <div class="card-body">
          <img src="/assets/img/shop/dairy.jpg" alt="">
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->

  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <div class="card-header">
          Fresh Produce
        </div>
        <div class="card-body">
          <img src="/assets/img/shop/produce.jpg" alt="" height="200" width="290">
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <div class="card-header">
          Grocery
        </div>
        <div class="card-body">
          <img src="/assets/img/shop/grocery.jpg" alt="" height="200" width="290">
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <div class="card-header">
          Frozen
        </div>
        <div class="card-body">
          <img src="/assets/img/shop/frozen.jpg" alt="" height="200" width="290">
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <div class="card-header">
          Meat Substitute
        </div>
        <div class="card-body">
          <img src="/assets/img/shop/substitute.jpg" alt="" height="200" width="290">
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
