<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Shop Appetizers
        </div>
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th class="text-center">Product #</th>
                <th>product Desc</th>
                <th>Brand</th>
                <th class="text-center">Price</th>
                <th>Promotion</th>
              </tr>
              <tr>
                <td>4716874</td>
                <td>CONTAINER, PAPER BOARD #3 CATERING BOX SINGLE POLY COATED KRAFT BROWN 7.75X5.5X2.5 RECYCLED CARDBOARD CARRY-OUT</td>
                <td>Bio Plus Earth</td>
                <td>$45.98 / CS</td>
                <td>Yes</td>
              </tr>
              <tr>
                <td>4716874</td>
                <td>GLOVE, SYNTHETIC LARGE POWDER-FREE WHITE WRIST LENGTH ROLLED CUFF AMBIDEXTR</td>
                <td>Monogram</td>
                <td>$45.98 / CS</td>
                <td>Yes</td>
              </tr>
              <tr>
                <td>4716874</td>
                <td>NAPKIN, DINNER WHITE 15X17 2 PLY 1/8 FOLD PAPER</td>
                <td>Valu Plus</td>
                <td>$45.98 / CS</td>
                <td>Yes</td>
              </tr>
            </thead>
            <tbody>
             
            </tbody>
          </table>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->