<div class="animated fadeIn">
<div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <strong>Auto Order Setup</strong>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div style="padding-bottom:10px;">Auto Order </div>
              <label class="switch switch-3d switch-success">
                <input type="checkbox" class="switch-input" checked>
                <span class="switch-slider"></span>
              </label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Order Range to build </label>
              <select class="form-control" id="ccmonth">
                  <option>Last 6 weeks</option>
                  <option>Last 12 weeks</option>
                  <option>Last 18 weeks</option>
                  <option>Last 24 weeks</option>
                  <option>Last 30 weeks</option>
              </select>
            </div>
          </div>
        </div><!--/.row-->

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Order Frequency</label>
              <select class="form-control" id="ccmonth">
                  <option>Weekly</option>
                  <option>Every 2 weeks</option>
                  <option>Every 4 weeks</option>
              </select>
            </div>
          </div>
        </div><!--/.row-->
      
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Order Day</label>
              <select class="form-control" id="ccmonth">
                  <option>Monday</option>
                  <option>Tuesday</option>
                  <option>Wednesday</option>
                  <option>Thursday</option>
                  <option>Friday</option>
                  <option>Saturday</option>
                  <option>Sunday</option>
              </select>
            </div>
          </div>
        </div><!--/.row-->

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Order Build</label>
              <select class="form-control" id="ccmonth">
                  <option>8 am</option>
                  <option>9 am</option>
                  <option>10 am</option>
                  <option>11 am</option>
                  <option>12 pm</option>
              </select>
            </div>
          </div>
        </div><!--/.row-->

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Order Submit</label>
              <select class="form-control" id="ccmonth">
                  <option>12 pm</option>
                  <option>1 pm</option>
                  <option>2 pm</option>
                  <option>3 pm</option>
                  <option>4 pm</option>
              </select>
            </div>
          </div>
        </div><!--/.row-->

        <div class="row">
          <div class="col-sm-3">
              <button type="button" class="btn btn-block btn-success">Save</button>
          </div>
          <div class="col-sm-3">
              <button type="button" class="btn btn-block btn-light">Cancel</button>
          </div>
        </div>
        
      </div>
    </div>
</div>
</div>
